
<main class="container-fluid">
<div class="form-group">
  <label for="exampleFormControlTextarea1">Enter Text:</label>
  <textarea 
      [(ngModel)]="textCollection" 
      (ngModelChange)="handleInputChange($event)"
      class="form-control bg-transparent" 
      id="exampleFormControlTextarea1" 
      rows="3">
  </textarea>
</div>

<h1 class="fs-4 fw-bold mt-3">Basic Utilities</h1>
<div class="w-100 d-flex gap-2 mb-3">
    <button type="button" class="btn btn-primary" (click)="letterCaseChange('capitalize')">Capitalize</button>
    <button type="button" class="btn btn-success" (click)="letterCaseChange('lower')">Lowercase</button>
    <button type="button" class="btn btn-warning" (click)="letterCaseChange('capital')">Uppercase</button>
    <button type="button" class="btn btn-info" (click)="removeExtraSpace()">Remove Extra Space</button>
    <button type="button" class="btn btn-danger" (click)="clearText()">ClearText</button>
</div>
<h1 class="fs-4 fw-bold mt-3">Text Analysis</h1>
<div class="w-100 d-flex gap-2 mb-3">
     <button type="button" class="btn btn-primary" (click)="generateReport()">Generate Report:</button>
</div>
<div *ngIf="wordCount > 0" class="mb-3">
    <h3>Report:</h3>
    <p>Total Words: {{wordCount}}</p>
    <p>Total Charecters: {{charCount}}</p>
    <p>Total Sentences: {{sentencesCount}}</p>
    <p>Maximum Friquency Word: <span class="px-2 text-capitalize" style="background-color: yellow;">"{{mostOccurenceWord}}" - {{mostTimesOcc}}</span> </p>
    <p>Minumum Friquency Word: <span class="px-2 text-capitalize" style="background-color: yellow;">"{{leastOccurenceWord}}" - {{leastTimesOcc}}</span></p>
    <hr>
</div>

<div>
    {{stripHtml(showText)}}
    <!-- {{showText}} -->
    <!-- <div [innerHTML]="safeHtml"></div> -->


</div>

</main>
  <!-- <textarea class="w-100" name="utility" id="utility" rows="10"></textarea> -->